{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ title }}
{% endblock title %}

{% block main %}

<!--cards-->
<div class="row row-cols-1 row-cols-md-12 g-4">
<div class="col">
  <div class="card h-100">
      {% if lesson.photo %}
    <img src="{{ lesson.photo.url }}" class="card-img-top" alt="Lessons" title="{{ lesson.name }}" data-mdb-tooltip-init/>
      {% endif %}
    <br>
      <div class="card-body">
        <div class="d-flex flex-row-reverse">
            <a href="{% url 'delete_lesson' lesson.id %}"><i class="fas fa-trash-can"></i></a> &nbsp; &nbsp; &nbsp;
          <a href="{% url 'update_lesson' lesson.id %}"><i class="fas fa-pen"></i></a>
      </div>
        <a href="{% url 'home' %}">
            <h5 class="card-title">{{ lesson.name }}</h5>
        </a>
      <p class="card-text">
          <strong>Price:</strong> {{ lesson.price }} $ <br>
          <strong>Teacher:</strong> {{ lesson.teacher }} <br>
          <strong>Starts from:</strong> {{ lesson.starts_from }} <br>
          <strong>Student count:</strong> {{ lesson.student_count }} <br>
          <strong>About:</strong> {{ lesson.description|linebreaks }}
      </p>
    </div>
    <div class="card-footer d-flex justify-content-around">
      <small class="text-muted">{{ lesson.starts_from }}</small>
      <small class="text-muted">{{ lesson.teacher }}</small>
        <a href="{% url 'lessons_by_courses' lesson.course.id %}">
            <small>{{ lesson.course }}</small>
        </a>
    </div>
  </div>
</div>
</div>
<!--cards-->
<div class="mt-5 d-flex justify-content-center">
    <a href="{% url 'home' %} " class="btn btn-outline-primary btn-rounded" data-mdb-ripple-init  data-mdb-ripple-color="dark">
        Ortga</a>
</div>

{% if request.user.is_authenticated %}
<form method="post" action="{% url 'comment_save' lesson.pk %}">
    {% csrf_token %}
    {{ form.as_p }}

    <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-outline-primary btn-rounded">
            <i class="fas fa-paper-plane"></i> Izoh yuborish
        </button>
    </div>
</form>
{% else %}
<p>Izoh qoldirish uchun saytga login qiling: <a href="{% url 'login_view' %}">Login</a></p>
{% endif %}

{% if comments %}
    {% for comment in comments %}
    <div class="card text-center mt-3 delete-comment-form">
        <div class="card-header d-flex justify-content-between align-items-center">
            <span>{{ comment.author.username }}</span>
            {% if request.user == comment.author or request.user.is_superuser %}
            <form method="post" action="{% url 'delete_comment' comment.id %}" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-link text-danger p-0">
                    <i class="far fa-trash-alt"></i>
                </button> &nbsp;&nbsp;&nbsp;
                <a href="{% url 'comment_update' comment.id %}">
                    Edit
                </a>
            </form>

            {% endif %}
        </div>
        <div class="card-body">
            <p class="card-text">{{ comment.text }}</p>
        </div>
        <div class="card-footer text-muted">{{ comment.created }}</div>
    </div>
    {% endfor %}
{% else %}
    <p>Hozircha izohlar mavjud emas. Birinchi bo'lib izoh qoldiring!</p>
{% endif %}

{% endblock main %}
